.git
.vscode
deployment
docker
tests
.gitignore
.dockerignore
.env
.pre-commit-config.yaml
.prettierrc
docker-compose.yml
example.env
pyproject.toml
readme.md
requirements-dev.txt
start-server.sh
stop-server.sh
swagger_client_generator.sh
